.radio{
  display: flex;
  cursor: pointer;
  user-select: none;
  align-items: center;
  margin-right: rem(22px);

  @include phones{
    margin-bottom:rem(10px) ;
     }




  &--checkbox{
    .radio__visible{
      border-radius: rem(4px);

      &::before{
        background: url("../img/icons/tick.png") center center no-repeat;
      }
  
    }
  }
}
.radio__elem{
  display: none;
  &:checked~.radio__visible{
    &::before{
      display: block;
    }
  }
}
.radio__visible{
  width: rem(26px);
  height: rem(26px);
  position: relative;
  border-radius: 50%;
  background: #fff;
  &:before{
    content: "";
    width: rem(14px);
    height: rem(14px);
    background:  #365A49;
    border-radius: 50%;
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}