<!-- Сообщаем браузеру как стоит обрабатывать эту страницу -->
<!DOCTYPE html>
<!-- Оболочка документа, указываем язык содержимого -->
<html lang="ru">
	<!-- Заголовок страницы, контейнер для других важных данных (не отображается) -->
	<head>
		<!-- Заголовок страницы в браузере -->
		<title>Адаптивная верстка</title>
		<!-- Подключаем CSS -->
		<link rel="stylesheet" href="css/style.css" />
		<!-- Кодировка страницы -->
		<meta charset=UTF-8" />
	    <meta name="viewport" content="width=device-width , initial-scale=1.0, maximum-scale=1.0 , user-scalable=0"  >

	</head>
	<!-- Отображаемое тело страницы -->
	<body>
<div class="container">
	<div class="content">
		<div class="ramka">
			<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga consectetur voluptas suscipit at dignissimos provident assumenda corporis hic non delectus iusto, corrupti aspernatur ut, distinctio dicta quod nobis! Mollitia, expedita!
			<img src="../files/img/пух.jpg" alt="" class="pux">	
			</p>
		</div>
	</div>
</div>
	</body>
</html>